.u-section-1 .u-sheet-1 {
  min-height: 464px;
}

.u-section-1 .u-table-1 {
  margin: 42px auto;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  margin-left: 0;
  margin-right: 1026px;
}

.u-section-1 .u-table-cell-2 {
  margin-left: 113px;
  margin-right: 913px;
}

.u-section-1 .u-table-cell-3 {
  margin-left: 226px;
  margin-right: 800px;
}

.u-section-1 .u-table-cell-4 {
  margin-left: 339px;
  margin-right: 687px;
}

.u-section-1 .u-table-cell-5 {
  margin-left: 452px;
  margin-right: 576px;
}

.u-section-1 .u-table-cell-6 {
  margin-left: 563px;
  margin-right: 457px;
}

.u-section-1 .u-table-cell-7 {
  margin-left: 682px;
  margin-right: 340px;
}

.u-section-1 .u-table-cell-8 {
  margin-left: 799px;
  margin-right: 228px;
}

.u-section-1 .u-table-cell-9 {
  margin-left: 911px;
  margin-right: 108px;
}

.u-section-1 .u-table-cell-10 {
  margin-left: 1031px;
  margin-right: 0;
}

.u-section-1 .u-table-cell-11 {
  margin-left: 0;
  margin-right: 1026px;
}

.u-section-1 .u-table-cell-12 {
  margin-left: 113px;
  margin-right: 913px;
}

.u-section-1 .u-table-cell-13 {
  margin-left: 226px;
  margin-right: 800px;
}

.u-section-1 .u-table-cell-14 {
  margin-left: 339px;
  margin-right: 687px;
}

.u-section-1 .u-table-cell-15 {
  margin-left: 452px;
  margin-right: 576px;
}

.u-section-1 .u-table-cell-16 {
  margin-left: 563px;
  margin-right: 457px;
}

.u-section-1 .u-table-cell-17 {
  margin-left: 682px;
  margin-right: 340px;
}

.u-section-1 .u-table-cell-18 {
  margin-left: 799px;
  margin-right: 228px;
}

.u-section-1 .u-table-cell-19 {
  margin-left: 911px;
  margin-right: 108px;
}

.u-section-1 .u-table-cell-20 {
  margin-left: 1031px;
  margin-right: 0;
}

.u-section-1 .u-table-cell-21 {
  margin-left: 0;
  margin-right: 1026px;
}

.u-section-1 .u-table-cell-22 {
  margin-left: 113px;
  margin-right: 913px;
}

.u-section-1 .u-table-cell-23 {
  margin-left: 226px;
  margin-right: 800px;
}

.u-section-1 .u-table-cell-24 {
  margin-left: 339px;
  margin-right: 687px;
}

.u-section-1 .u-table-cell-25 {
  margin-left: 452px;
  margin-right: 576px;
}

.u-section-1 .u-table-cell-26 {
  margin-left: 563px;
  margin-right: 457px;
}

.u-section-1 .u-table-cell-27 {
  margin-left: 682px;
  margin-right: 340px;
}

.u-section-1 .u-table-cell-28 {
  margin-left: 799px;
  margin-right: 228px;
}

.u-section-1 .u-table-cell-29 {
  margin-left: 911px;
  margin-right: 108px;
}

.u-section-1 .u-table-cell-30 {
  margin-left: 1031px;
  margin-right: 0;
}

.u-section-1 .u-table-cell-31 {
  margin-left: 0;
  margin-right: 1026px;
}

.u-section-1 .u-table-cell-32 {
  margin-left: 113px;
  margin-right: 913px;
}

.u-section-1 .u-table-cell-33 {
  margin-left: 226px;
  margin-right: 800px;
}

.u-section-1 .u-table-cell-34 {
  margin-left: 339px;
  margin-right: 687px;
}

.u-section-1 .u-table-cell-35 {
  margin-left: 452px;
  margin-right: 576px;
}

.u-section-1 .u-table-cell-36 {
  margin-left: 563px;
  margin-right: 457px;
}

.u-section-1 .u-table-cell-37 {
  margin-left: 682px;
  margin-right: 340px;
}

.u-section-1 .u-table-cell-38 {
  margin-left: 799px;
  margin-right: 228px;
}

.u-section-1 .u-table-cell-39 {
  margin-left: 911px;
  margin-right: 108px;
}

.u-section-1 .u-table-cell-40 {
  margin-left: 1031px;
  margin-right: 0;
}

.u-section-1 .u-table-cell-41 {
  margin-left: 0;
  margin-right: 1026px;
}

.u-section-1 .u-table-cell-42 {
  margin-left: 113px;
  margin-right: 913px;
}

.u-section-1 .u-table-cell-43 {
  margin-left: 226px;
  margin-right: 800px;
}

.u-section-1 .u-table-cell-44 {
  margin-left: 339px;
  margin-right: 687px;
}

.u-section-1 .u-table-cell-45 {
  margin-left: 452px;
  margin-right: 576px;
}

.u-section-1 .u-table-cell-46 {
  margin-left: 563px;
  margin-right: 457px;
}

.u-section-1 .u-table-cell-47 {
  margin-left: 682px;
  margin-right: 340px;
}

.u-section-1 .u-table-cell-48 {
  margin-left: 799px;
  margin-right: 228px;
}

.u-section-1 .u-table-cell-49 {
  margin-left: 911px;
  margin-right: 108px;
}

.u-section-1 .u-table-cell-50 {
  margin-left: 1031px;
  margin-right: 0;
}

.u-section-1 .u-table-cell-51 {
  margin-left: 0;
  margin-right: 1026px;
}

.u-section-1 .u-table-cell-52 {
  margin-left: 113px;
  margin-right: 913px;
}

.u-section-1 .u-table-cell-53 {
  margin-left: 226px;
  margin-right: 800px;
}

.u-section-1 .u-table-cell-54 {
  margin-left: 339px;
  margin-right: 687px;
}

.u-section-1 .u-table-cell-55 {
  margin-left: 452px;
  margin-right: 576px;
}

.u-section-1 .u-table-cell-56 {
  margin-left: 563px;
  margin-right: 457px;
}

.u-section-1 .u-table-cell-57 {
  margin-left: 682px;
  margin-right: 340px;
}

.u-section-1 .u-table-cell-58 {
  margin-left: 799px;
  margin-right: 228px;
}

.u-section-1 .u-table-cell-59 {
  margin-left: 911px;
  margin-right: 108px;
}

.u-section-1 .u-table-cell-60 {
  margin-left: 1031px;
  margin-right: 0;
}

.u-section-1 .u-table-cell-61 {
  margin-left: 0;
  margin-right: 1026px;
}

.u-section-1 .u-table-cell-62 {
  margin-left: 113px;
  margin-right: 913px;
}

.u-section-1 .u-table-cell-63 {
  margin-left: 226px;
  margin-right: 800px;
}

.u-section-1 .u-table-cell-64 {
  margin-left: 339px;
  margin-right: 687px;
}

.u-section-1 .u-table-cell-65 {
  margin-left: 452px;
  margin-right: 576px;
}

.u-section-1 .u-table-cell-66 {
  margin-left: 563px;
  margin-right: 457px;
}

.u-section-1 .u-table-cell-67 {
  margin-left: 682px;
  margin-right: 340px;
}

.u-section-1 .u-table-cell-68 {
  margin-left: 799px;
  margin-right: 228px;
}

.u-section-1 .u-table-cell-69 {
  margin-left: 911px;
  margin-right: 108px;
}

.u-section-1 .u-table-cell-70 {
  margin-left: 1031px;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-cell-1 {
    margin-right: 851px;
  }

  .u-section-1 .u-table-cell-2 {
    margin-left: 88px;
    margin-right: 744px;
  }

  .u-section-1 .u-table-cell-3 {
    margin-left: 195px;
    margin-right: 637px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-left: 302px;
    margin-right: 530px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-left: 409px;
    margin-right: 445px;
  }

  .u-section-1 .u-table-cell-6 {
    margin-left: 494px;
    margin-right: 354px;
  }

  .u-section-1 .u-table-cell-7 {
    margin-left: 585px;
    margin-right: 264px;
  }

  .u-section-1 .u-table-cell-8 {
    margin-left: 675px;
    margin-right: 177px;
  }

  .u-section-1 .u-table-cell-9 {
    margin-left: 762px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-10 {
    margin-left: 855px;
  }

  .u-section-1 .u-table-cell-11 {
    margin-right: 851px;
  }

  .u-section-1 .u-table-cell-12 {
    margin-left: 88px;
    margin-right: 744px;
  }

  .u-section-1 .u-table-cell-13 {
    margin-left: 195px;
    margin-right: 637px;
  }

  .u-section-1 .u-table-cell-14 {
    margin-left: 302px;
    margin-right: 530px;
  }

  .u-section-1 .u-table-cell-15 {
    margin-left: 409px;
    margin-right: 445px;
  }

  .u-section-1 .u-table-cell-16 {
    margin-left: 494px;
    margin-right: 354px;
  }

  .u-section-1 .u-table-cell-17 {
    margin-left: 585px;
    margin-right: 264px;
  }

  .u-section-1 .u-table-cell-18 {
    margin-left: 675px;
    margin-right: 177px;
  }

  .u-section-1 .u-table-cell-19 {
    margin-left: 762px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-20 {
    margin-left: 855px;
  }

  .u-section-1 .u-table-cell-21 {
    margin-right: 851px;
  }

  .u-section-1 .u-table-cell-22 {
    margin-left: 88px;
    margin-right: 744px;
  }

  .u-section-1 .u-table-cell-23 {
    margin-left: 195px;
    margin-right: 637px;
  }

  .u-section-1 .u-table-cell-24 {
    margin-left: 302px;
    margin-right: 530px;
  }

  .u-section-1 .u-table-cell-25 {
    margin-left: 409px;
    margin-right: 445px;
  }

  .u-section-1 .u-table-cell-26 {
    margin-left: 494px;
    margin-right: 354px;
  }

  .u-section-1 .u-table-cell-27 {
    margin-left: 585px;
    margin-right: 264px;
  }

  .u-section-1 .u-table-cell-28 {
    margin-left: 675px;
    margin-right: 177px;
  }

  .u-section-1 .u-table-cell-29 {
    margin-left: 762px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-30 {
    margin-left: 855px;
  }

  .u-section-1 .u-table-cell-31 {
    margin-right: 851px;
  }

  .u-section-1 .u-table-cell-32 {
    margin-left: 88px;
    margin-right: 744px;
  }

  .u-section-1 .u-table-cell-33 {
    margin-left: 195px;
    margin-right: 637px;
  }

  .u-section-1 .u-table-cell-34 {
    margin-left: 302px;
    margin-right: 530px;
  }

  .u-section-1 .u-table-cell-35 {
    margin-left: 409px;
    margin-right: 445px;
  }

  .u-section-1 .u-table-cell-36 {
    margin-left: 494px;
    margin-right: 354px;
  }

  .u-section-1 .u-table-cell-37 {
    margin-left: 585px;
    margin-right: 264px;
  }

  .u-section-1 .u-table-cell-38 {
    margin-left: 675px;
    margin-right: 177px;
  }

  .u-section-1 .u-table-cell-39 {
    margin-left: 762px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-40 {
    margin-left: 855px;
  }

  .u-section-1 .u-table-cell-41 {
    margin-right: 851px;
  }

  .u-section-1 .u-table-cell-42 {
    margin-left: 88px;
    margin-right: 744px;
  }

  .u-section-1 .u-table-cell-43 {
    margin-left: 195px;
    margin-right: 637px;
  }

  .u-section-1 .u-table-cell-44 {
    margin-left: 302px;
    margin-right: 530px;
  }

  .u-section-1 .u-table-cell-45 {
    margin-left: 409px;
    margin-right: 445px;
  }

  .u-section-1 .u-table-cell-46 {
    margin-left: 494px;
    margin-right: 354px;
  }

  .u-section-1 .u-table-cell-47 {
    margin-left: 585px;
    margin-right: 264px;
  }

  .u-section-1 .u-table-cell-48 {
    margin-left: 675px;
    margin-right: 177px;
  }

  .u-section-1 .u-table-cell-49 {
    margin-left: 762px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-50 {
    margin-left: 855px;
  }

  .u-section-1 .u-table-cell-51 {
    margin-right: 851px;
  }

  .u-section-1 .u-table-cell-52 {
    margin-left: 88px;
    margin-right: 744px;
  }

  .u-section-1 .u-table-cell-53 {
    margin-left: 195px;
    margin-right: 637px;
  }

  .u-section-1 .u-table-cell-54 {
    margin-left: 302px;
    margin-right: 530px;
  }

  .u-section-1 .u-table-cell-55 {
    margin-left: 409px;
    margin-right: 445px;
  }

  .u-section-1 .u-table-cell-56 {
    margin-left: 494px;
    margin-right: 354px;
  }

  .u-section-1 .u-table-cell-57 {
    margin-left: 585px;
    margin-right: 264px;
  }

  .u-section-1 .u-table-cell-58 {
    margin-left: 675px;
    margin-right: 177px;
  }

  .u-section-1 .u-table-cell-59 {
    margin-left: 762px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-60 {
    margin-left: 855px;
  }

  .u-section-1 .u-table-cell-61 {
    margin-right: 851px;
  }

  .u-section-1 .u-table-cell-62 {
    margin-left: 88px;
    margin-right: 744px;
  }

  .u-section-1 .u-table-cell-63 {
    margin-left: 195px;
    margin-right: 637px;
  }

  .u-section-1 .u-table-cell-64 {
    margin-left: 302px;
    margin-right: 530px;
  }

  .u-section-1 .u-table-cell-65 {
    margin-left: 409px;
    margin-right: 445px;
  }

  .u-section-1 .u-table-cell-66 {
    margin-left: 494px;
    margin-right: 354px;
  }

  .u-section-1 .u-table-cell-67 {
    margin-left: 585px;
    margin-right: 264px;
  }

  .u-section-1 .u-table-cell-68 {
    margin-left: 675px;
    margin-right: 177px;
  }

  .u-section-1 .u-table-cell-69 {
    margin-left: 762px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-70 {
    margin-left: 855px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-table-cell-1 {
    margin-right: 655px;
  }

  .u-section-1 .u-table-cell-2 {
    margin-left: 64px;
    margin-right: 548px;
  }

  .u-section-1 .u-table-cell-3 {
    margin-left: 171px;
    margin-right: 441px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-left: 278px;
    margin-right: 334px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-left: 385px;
    margin-right: 281px;
  }

  .u-section-1 .u-table-cell-6 {
    margin-left: 438px;
    margin-right: 224px;
  }

  .u-section-1 .u-table-cell-7 {
    margin-left: 495px;
    margin-right: 167px;
  }

  .u-section-1 .u-table-cell-8 {
    margin-left: 552px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-9 {
    margin-left: 607px;
    margin-right: 53px;
  }

  .u-section-1 .u-table-cell-10 {
    margin-left: 666px;
  }

  .u-section-1 .u-table-cell-11 {
    margin-right: 655px;
  }

  .u-section-1 .u-table-cell-12 {
    margin-left: 64px;
    margin-right: 548px;
  }

  .u-section-1 .u-table-cell-13 {
    margin-left: 171px;
    margin-right: 441px;
  }

  .u-section-1 .u-table-cell-14 {
    margin-left: 278px;
    margin-right: 334px;
  }

  .u-section-1 .u-table-cell-15 {
    margin-left: 385px;
    margin-right: 281px;
  }

  .u-section-1 .u-table-cell-16 {
    margin-left: 438px;
    margin-right: 224px;
  }

  .u-section-1 .u-table-cell-17 {
    margin-left: 495px;
    margin-right: 167px;
  }

  .u-section-1 .u-table-cell-18 {
    margin-left: 552px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-19 {
    margin-left: 607px;
    margin-right: 53px;
  }

  .u-section-1 .u-table-cell-20 {
    margin-left: 666px;
  }

  .u-section-1 .u-table-cell-21 {
    margin-right: 655px;
  }

  .u-section-1 .u-table-cell-22 {
    margin-left: 64px;
    margin-right: 548px;
  }

  .u-section-1 .u-table-cell-23 {
    margin-left: 171px;
    margin-right: 441px;
  }

  .u-section-1 .u-table-cell-24 {
    margin-left: 278px;
    margin-right: 334px;
  }

  .u-section-1 .u-table-cell-25 {
    margin-left: 385px;
    margin-right: 281px;
  }

  .u-section-1 .u-table-cell-26 {
    margin-left: 438px;
    margin-right: 224px;
  }

  .u-section-1 .u-table-cell-27 {
    margin-left: 495px;
    margin-right: 167px;
  }

  .u-section-1 .u-table-cell-28 {
    margin-left: 552px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-29 {
    margin-left: 607px;
    margin-right: 53px;
  }

  .u-section-1 .u-table-cell-30 {
    margin-left: 666px;
  }

  .u-section-1 .u-table-cell-31 {
    margin-right: 655px;
  }

  .u-section-1 .u-table-cell-32 {
    margin-left: 64px;
    margin-right: 548px;
  }

  .u-section-1 .u-table-cell-33 {
    margin-left: 171px;
    margin-right: 441px;
  }

  .u-section-1 .u-table-cell-34 {
    margin-left: 278px;
    margin-right: 334px;
  }

  .u-section-1 .u-table-cell-35 {
    margin-left: 385px;
    margin-right: 281px;
  }

  .u-section-1 .u-table-cell-36 {
    margin-left: 438px;
    margin-right: 224px;
  }

  .u-section-1 .u-table-cell-37 {
    margin-left: 495px;
    margin-right: 167px;
  }

  .u-section-1 .u-table-cell-38 {
    margin-left: 552px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-39 {
    margin-left: 607px;
    margin-right: 53px;
  }

  .u-section-1 .u-table-cell-40 {
    margin-left: 666px;
  }

  .u-section-1 .u-table-cell-41 {
    margin-right: 655px;
  }

  .u-section-1 .u-table-cell-42 {
    margin-left: 64px;
    margin-right: 548px;
  }

  .u-section-1 .u-table-cell-43 {
    margin-left: 171px;
    margin-right: 441px;
  }

  .u-section-1 .u-table-cell-44 {
    margin-left: 278px;
    margin-right: 334px;
  }

  .u-section-1 .u-table-cell-45 {
    margin-left: 385px;
    margin-right: 281px;
  }

  .u-section-1 .u-table-cell-46 {
    margin-left: 438px;
    margin-right: 224px;
  }

  .u-section-1 .u-table-cell-47 {
    margin-left: 495px;
    margin-right: 167px;
  }

  .u-section-1 .u-table-cell-48 {
    margin-left: 552px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-49 {
    margin-left: 607px;
    margin-right: 53px;
  }

  .u-section-1 .u-table-cell-50 {
    margin-left: 666px;
  }

  .u-section-1 .u-table-cell-51 {
    margin-right: 655px;
  }

  .u-section-1 .u-table-cell-52 {
    margin-left: 64px;
    margin-right: 548px;
  }

  .u-section-1 .u-table-cell-53 {
    margin-left: 171px;
    margin-right: 441px;
  }

  .u-section-1 .u-table-cell-54 {
    margin-left: 278px;
    margin-right: 334px;
  }

  .u-section-1 .u-table-cell-55 {
    margin-left: 385px;
    margin-right: 281px;
  }

  .u-section-1 .u-table-cell-56 {
    margin-left: 438px;
    margin-right: 224px;
  }

  .u-section-1 .u-table-cell-57 {
    margin-left: 495px;
    margin-right: 167px;
  }

  .u-section-1 .u-table-cell-58 {
    margin-left: 552px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-59 {
    margin-left: 607px;
    margin-right: 53px;
  }

  .u-section-1 .u-table-cell-60 {
    margin-left: 666px;
  }

  .u-section-1 .u-table-cell-61 {
    margin-right: 655px;
  }

  .u-section-1 .u-table-cell-62 {
    margin-left: 64px;
    margin-right: 548px;
  }

  .u-section-1 .u-table-cell-63 {
    margin-left: 171px;
    margin-right: 441px;
  }

  .u-section-1 .u-table-cell-64 {
    margin-left: 278px;
    margin-right: 334px;
  }

  .u-section-1 .u-table-cell-65 {
    margin-left: 385px;
    margin-right: 281px;
  }

  .u-section-1 .u-table-cell-66 {
    margin-left: 438px;
    margin-right: 224px;
  }

  .u-section-1 .u-table-cell-67 {
    margin-left: 495px;
    margin-right: 167px;
  }

  .u-section-1 .u-table-cell-68 {
    margin-left: 552px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-69 {
    margin-left: 607px;
    margin-right: 53px;
  }

  .u-section-1 .u-table-cell-70 {
    margin-left: 666px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-cell-1 {
    margin-right: 486px;
  }

  .u-section-1 .u-table-cell-2 {
    margin-left: 53px;
    margin-right: 379px;
  }

  .u-section-1 .u-table-cell-3 {
    margin-left: 160px;
    margin-right: 272px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-left: 267px;
    margin-right: 165px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-left: 374px;
    margin-right: 139px;
  }

  .u-section-1 .u-table-cell-6 {
    margin-left: 400px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-7 {
    margin-left: 427px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-8 {
    margin-left: 455px;
    margin-right: 56px;
  }

  .u-section-1 .u-table-cell-9 {
    margin-left: 483px;
    margin-right: 28px;
  }

  .u-section-1 .u-table-cell-10 {
    margin-left: 511px;
  }

  .u-section-1 .u-table-cell-11 {
    margin-right: 486px;
  }

  .u-section-1 .u-table-cell-12 {
    margin-left: 53px;
    margin-right: 379px;
  }

  .u-section-1 .u-table-cell-13 {
    margin-left: 160px;
    margin-right: 272px;
  }

  .u-section-1 .u-table-cell-14 {
    margin-left: 267px;
    margin-right: 165px;
  }

  .u-section-1 .u-table-cell-15 {
    margin-left: 374px;
    margin-right: 139px;
  }

  .u-section-1 .u-table-cell-16 {
    margin-left: 400px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-17 {
    margin-left: 427px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-18 {
    margin-left: 455px;
    margin-right: 56px;
  }

  .u-section-1 .u-table-cell-19 {
    margin-left: 483px;
    margin-right: 28px;
  }

  .u-section-1 .u-table-cell-20 {
    margin-left: 511px;
  }

  .u-section-1 .u-table-cell-21 {
    margin-right: 486px;
  }

  .u-section-1 .u-table-cell-22 {
    margin-left: 53px;
    margin-right: 379px;
  }

  .u-section-1 .u-table-cell-23 {
    margin-left: 160px;
    margin-right: 272px;
  }

  .u-section-1 .u-table-cell-24 {
    margin-left: 267px;
    margin-right: 165px;
  }

  .u-section-1 .u-table-cell-25 {
    margin-left: 374px;
    margin-right: 139px;
  }

  .u-section-1 .u-table-cell-26 {
    margin-left: 400px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-27 {
    margin-left: 427px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-28 {
    margin-left: 455px;
    margin-right: 56px;
  }

  .u-section-1 .u-table-cell-29 {
    margin-left: 483px;
    margin-right: 28px;
  }

  .u-section-1 .u-table-cell-30 {
    margin-left: 511px;
  }

  .u-section-1 .u-table-cell-31 {
    margin-right: 486px;
  }

  .u-section-1 .u-table-cell-32 {
    margin-left: 53px;
    margin-right: 379px;
  }

  .u-section-1 .u-table-cell-33 {
    margin-left: 160px;
    margin-right: 272px;
  }

  .u-section-1 .u-table-cell-34 {
    margin-left: 267px;
    margin-right: 165px;
  }

  .u-section-1 .u-table-cell-35 {
    margin-left: 374px;
    margin-right: 139px;
  }

  .u-section-1 .u-table-cell-36 {
    margin-left: 400px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-37 {
    margin-left: 427px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-38 {
    margin-left: 455px;
    margin-right: 56px;
  }

  .u-section-1 .u-table-cell-39 {
    margin-left: 483px;
    margin-right: 28px;
  }

  .u-section-1 .u-table-cell-40 {
    margin-left: 511px;
  }

  .u-section-1 .u-table-cell-41 {
    margin-right: 486px;
  }

  .u-section-1 .u-table-cell-42 {
    margin-left: 53px;
    margin-right: 379px;
  }

  .u-section-1 .u-table-cell-43 {
    margin-left: 160px;
    margin-right: 272px;
  }

  .u-section-1 .u-table-cell-44 {
    margin-left: 267px;
    margin-right: 165px;
  }

  .u-section-1 .u-table-cell-45 {
    margin-left: 374px;
    margin-right: 139px;
  }

  .u-section-1 .u-table-cell-46 {
    margin-left: 400px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-47 {
    margin-left: 427px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-48 {
    margin-left: 455px;
    margin-right: 56px;
  }

  .u-section-1 .u-table-cell-49 {
    margin-left: 483px;
    margin-right: 28px;
  }

  .u-section-1 .u-table-cell-50 {
    margin-left: 511px;
  }

  .u-section-1 .u-table-cell-51 {
    margin-right: 486px;
  }

  .u-section-1 .u-table-cell-52 {
    margin-left: 53px;
    margin-right: 379px;
  }

  .u-section-1 .u-table-cell-53 {
    margin-left: 160px;
    margin-right: 272px;
  }

  .u-section-1 .u-table-cell-54 {
    margin-left: 267px;
    margin-right: 165px;
  }

  .u-section-1 .u-table-cell-55 {
    margin-left: 374px;
    margin-right: 139px;
  }

  .u-section-1 .u-table-cell-56 {
    margin-left: 400px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-57 {
    margin-left: 427px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-58 {
    margin-left: 455px;
    margin-right: 56px;
  }

  .u-section-1 .u-table-cell-59 {
    margin-left: 483px;
    margin-right: 28px;
  }

  .u-section-1 .u-table-cell-60 {
    margin-left: 511px;
  }

  .u-section-1 .u-table-cell-61 {
    margin-right: 486px;
  }

  .u-section-1 .u-table-cell-62 {
    margin-left: 53px;
    margin-right: 379px;
  }

  .u-section-1 .u-table-cell-63 {
    margin-left: 160px;
    margin-right: 272px;
  }

  .u-section-1 .u-table-cell-64 {
    margin-left: 267px;
    margin-right: 165px;
  }

  .u-section-1 .u-table-cell-65 {
    margin-left: 374px;
    margin-right: 139px;
  }

  .u-section-1 .u-table-cell-66 {
    margin-left: 400px;
    margin-right: 112px;
  }

  .u-section-1 .u-table-cell-67 {
    margin-left: 427px;
    margin-right: 84px;
  }

  .u-section-1 .u-table-cell-68 {
    margin-left: 455px;
    margin-right: 56px;
  }

  .u-section-1 .u-table-cell-69 {
    margin-left: 483px;
    margin-right: 28px;
  }

  .u-section-1 .u-table-cell-70 {
    margin-left: 511px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-cell-1 {
    margin-right: 477px;
  }

  .u-section-1 .u-table-cell-2 {
    margin-right: 370px;
  }

  .u-section-1 .u-table-cell-3 {
    margin-right: 263px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-right: 156px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-right: 130px;
  }

  .u-section-1 .u-table-cell-6 {
    margin-right: 104px;
  }

  .u-section-1 .u-table-cell-7 {
    margin-left: 426px;
    margin-right: 78px;
  }

  .u-section-1 .u-table-cell-8 {
    margin-left: 452px;
    margin-right: 52px;
  }

  .u-section-1 .u-table-cell-9 {
    margin-left: 478px;
    margin-right: 26px;
  }

  .u-section-1 .u-table-cell-10 {
    margin-left: 504px;
  }

  .u-section-1 .u-table-cell-11 {
    margin-right: 477px;
  }

  .u-section-1 .u-table-cell-12 {
    margin-right: 370px;
  }

  .u-section-1 .u-table-cell-13 {
    margin-right: 263px;
  }

  .u-section-1 .u-table-cell-14 {
    margin-right: 156px;
  }

  .u-section-1 .u-table-cell-15 {
    margin-right: 130px;
  }

  .u-section-1 .u-table-cell-16 {
    margin-right: 104px;
  }

  .u-section-1 .u-table-cell-17 {
    margin-left: 426px;
    margin-right: 78px;
  }

  .u-section-1 .u-table-cell-18 {
    margin-left: 452px;
    margin-right: 52px;
  }

  .u-section-1 .u-table-cell-19 {
    margin-left: 478px;
    margin-right: 26px;
  }

  .u-section-1 .u-table-cell-20 {
    margin-left: 504px;
  }

  .u-section-1 .u-table-cell-21 {
    margin-right: 477px;
  }

  .u-section-1 .u-table-cell-22 {
    margin-right: 370px;
  }

  .u-section-1 .u-table-cell-23 {
    margin-right: 263px;
  }

  .u-section-1 .u-table-cell-24 {
    margin-right: 156px;
  }

  .u-section-1 .u-table-cell-25 {
    margin-right: 130px;
  }

  .u-section-1 .u-table-cell-26 {
    margin-right: 104px;
  }

  .u-section-1 .u-table-cell-27 {
    margin-left: 426px;
    margin-right: 78px;
  }

  .u-section-1 .u-table-cell-28 {
    margin-left: 452px;
    margin-right: 52px;
  }

  .u-section-1 .u-table-cell-29 {
    margin-left: 478px;
    margin-right: 26px;
  }

  .u-section-1 .u-table-cell-30 {
    margin-left: 504px;
  }

  .u-section-1 .u-table-cell-31 {
    margin-right: 477px;
  }

  .u-section-1 .u-table-cell-32 {
    margin-right: 370px;
  }

  .u-section-1 .u-table-cell-33 {
    margin-right: 263px;
  }

  .u-section-1 .u-table-cell-34 {
    margin-right: 156px;
  }

  .u-section-1 .u-table-cell-35 {
    margin-right: 130px;
  }

  .u-section-1 .u-table-cell-36 {
    margin-right: 104px;
  }

  .u-section-1 .u-table-cell-37 {
    margin-left: 426px;
    margin-right: 78px;
  }

  .u-section-1 .u-table-cell-38 {
    margin-left: 452px;
    margin-right: 52px;
  }

  .u-section-1 .u-table-cell-39 {
    margin-left: 478px;
    margin-right: 26px;
  }

  .u-section-1 .u-table-cell-40 {
    margin-left: 504px;
  }

  .u-section-1 .u-table-cell-41 {
    margin-right: 477px;
  }

  .u-section-1 .u-table-cell-42 {
    margin-right: 370px;
  }

  .u-section-1 .u-table-cell-43 {
    margin-right: 263px;
  }

  .u-section-1 .u-table-cell-44 {
    margin-right: 156px;
  }

  .u-section-1 .u-table-cell-45 {
    margin-right: 130px;
  }

  .u-section-1 .u-table-cell-46 {
    margin-right: 104px;
  }

  .u-section-1 .u-table-cell-47 {
    margin-left: 426px;
    margin-right: 78px;
  }

  .u-section-1 .u-table-cell-48 {
    margin-left: 452px;
    margin-right: 52px;
  }

  .u-section-1 .u-table-cell-49 {
    margin-left: 478px;
    margin-right: 26px;
  }

  .u-section-1 .u-table-cell-50 {
    margin-left: 504px;
  }

  .u-section-1 .u-table-cell-51 {
    margin-right: 477px;
  }

  .u-section-1 .u-table-cell-52 {
    margin-right: 370px;
  }

  .u-section-1 .u-table-cell-53 {
    margin-right: 263px;
  }

  .u-section-1 .u-table-cell-54 {
    margin-right: 156px;
  }

  .u-section-1 .u-table-cell-55 {
    margin-right: 130px;
  }

  .u-section-1 .u-table-cell-56 {
    margin-right: 104px;
  }

  .u-section-1 .u-table-cell-57 {
    margin-left: 426px;
    margin-right: 78px;
  }

  .u-section-1 .u-table-cell-58 {
    margin-left: 452px;
    margin-right: 52px;
  }

  .u-section-1 .u-table-cell-59 {
    margin-left: 478px;
    margin-right: 26px;
  }

  .u-section-1 .u-table-cell-60 {
    margin-left: 504px;
  }

  .u-section-1 .u-table-cell-61 {
    margin-right: 477px;
  }

  .u-section-1 .u-table-cell-62 {
    margin-right: 370px;
  }

  .u-section-1 .u-table-cell-63 {
    margin-right: 263px;
  }

  .u-section-1 .u-table-cell-64 {
    margin-right: 156px;
  }

  .u-section-1 .u-table-cell-65 {
    margin-right: 130px;
  }

  .u-section-1 .u-table-cell-66 {
    margin-right: 104px;
  }

  .u-section-1 .u-table-cell-67 {
    margin-left: 426px;
    margin-right: 78px;
  }

  .u-section-1 .u-table-cell-68 {
    margin-left: 452px;
    margin-right: 52px;
  }

  .u-section-1 .u-table-cell-69 {
    margin-left: 478px;
    margin-right: 26px;
  }

  .u-section-1 .u-table-cell-70 {
    margin-left: 504px;
  }
}