{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- Loader -->
        <!-- Home Start -->
        <section class="bg-half d-table w-100" style="background: url('https://th.bing.com/th/id/OIP.5ezwbyhjPFG5BHnth_ZVsAHaHa?pid=ImgDet&w=1024&h=1024&rs=1')center center;">
            <div class="bg-overlay bg-overlay-white"></div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title"> Projects & Works </h4>
                            <ul class="page-next bg-light d-inline-block py-2 px-4 mt-3 rounded mb-0">
                                <li><a href="{% url 'home' %}" class="text-dark">SALOHIDDIN</a></li>
                                <li>
                                    <span class="text-primary"> Portfolio</span>
                                </li>
                            </ul>
                        </div>
                    </div>  <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Home End -->

        <!-- Projects End -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <ul class="portfolioFilter text-center mb-0 list-unstyled">
{#                            <li class="list-inline-item mb-3"><a href="#" data-filter="*" class="active text-dark mr-2 py-2 px-3 rounded">All</a></li>#}
{#                            <li class="list-inline-item mb-3"><a href="#" data-filter=".tmbots" class="text-dark mr-2 py-2 px-3 rounded">Telegram bots</a></li>#}
{#                            <li class="list-inline-item mb-3"><a href="#" data-filter=".django" class="text-dark mr-2 py-2 px-3 rounded">Django</a></li>#}
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="portfolioContainer row">
                    <div class="col-lg-4 col-md-6 mt-4 pt-2 tmbots personal">
                        <div class="portfolio-box rounded shadow position-relative overflow-hidden">
                            <div class="portfolio-box-img position-relative overflow-hidden">
                                <img src="https://th.bing.com/th/id/R.8fbff52c73738c53fedb03b4642c6b4f?rik=v21GzsUFqkZ6iA&pid=ImgRaw&r=0" class="img-fluid" alt="member-image">
                                <div class="overlay-work">
                                    <div class="work-content text-center">
                                        <a href="https://th.bing.com/th/id/R.8fbff52c73738c53fedb03b4642c6b4f?rik=v21GzsUFqkZ6iA&pid=ImgRaw&r=0" class="text-light work-icon bg-dark d-inline-block rounded-pill mfp-image"><i data-feather="camera" class="fea icon-sm image-icon"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="gallary-title py-4 text-center">
                                <span>Valyuta kursi bot</span><br>
                                <a href="https://t.me/uz_valyuta_kursi_bot">@uz_valyuta_kursi_bot</a>
                            </div>
                        </div>
                    </div><!--end col-->

                </div><!-- End row -->
            </div><!--end container-->


                    <section class="section pb-0" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <div class="titles">
                                <h4 class="title title-line text-uppercase mb-4 pb-4">Contact Me</h4>
                                <span></span>
                            </div>
                            <p class="text-muted mx-auto para-desc mb-0">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="phone" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title text-uppercase">Phone</h5>
                                <p class="text-muted">Promising development turmoil inclusive education transformative community</p>
                                <a href="tel:+152534-468-854" class="text-primary">+998 97-595-99-49</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="mail" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title text-uppercase">Email</h5>
                                <p class="text-muted">Promising development turmoil inclusive education transformative community</p>
                                <a href="smart.salohiddin@gmail.com" class="text-primary">smart.salohiddin@gmail.com</a>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="map-pin" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title text-uppercase">Location</h5>
                                <p class="text-muted">C/54 Northwest Freeway, Suite 558, <br>Houston, USA 485</p>
                                <a href="https://www.google.com/maps/place/Fergana+District,+Uzbekistan/@40.3801339,71.7169118,17z/data=!3m1!4b1!4m5!3m4!1s0x38bb9c861cc1d66f:0x5208346404e5f196!8m2!3d40.3801278!4d71.7191039" class="video-play-icon text-primary">View on Google map</a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><br><br><br><br><br><br><br><br><!--end section-->
        </section><!--end section-->
        <!-- Contact End -->

        <!-- Footer Start -->
        <footer class="footer bg-dark">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <p class="para-desc mx-auto mt-5">Obviously I'm a Web Designer. Experienced with all stages of the development cycle for dynamic web projects.</p>
                        <ul class="list-unstyled mb-0 mt-4 social-icon">
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-vimeo"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-linkedin"></i></a></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer><!--end footer-->
        <footer class="footer footer-bar bg-dark">
            <div class="container text-foot text-center">
                <p class="mb-0">© 2019-20 Cristino. Design with <i class="mdi mdi-heart text-danger"></i> by <a href="http://www.shreethemes.in" target="_blank" class="text-success"></a>Shreethemes</a>.</p>
            </div><!--end container-->
        </footer><!--end footer-->
        <!-- Footer End -->
        
        <!-- Back to top -->
        <a href="#" class="back-to-top rounded text-center" id="back-to-top"> 
            <i class="mdi mdi-chevron-up d-block"> </i> 
        </a>

{% endblock content %}