//
// variables.scss
//


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Roboto&display=swap');

// Color variables
$white:                     #1f2d3d;

$primary:                   #e54b4b;
$secondary:                 #5a6d90;
$success:                   #25b865;
$warning:                   #f9a836;
$info:                      #44bed0;
$danger:                    #d6374a;
$blue:                      #2d84fb;
$dark:                      #ffffff; //3c4858
$black:                     #161c2d;
$muted:                     #9bacc4; //8492a6
$light:                     #253649;

// Gray
$gray-100:                  #495057;
$gray-200:                  #6c757d;
$gray-300:                  #adb5bd;
$gray-400:                  #ced4da;
$gray-500:                  #dee2e6;
$gray-600:                  #e9ecef;
$gray-700:                  #f8f9fa;

//Custom
$footer:                    lighten($white, 5%);

// Overlay
$overlay:                   rgba($white, 0.7);
$gradident-overlay:         rgba($primary, 0.6);
$bg-overlay-white:          rgba($dark, 0.7);
$bg-overlay-dark:           rgba($black, 0.75);

// Body Background
$body-color:                $black;
$shadow:                    0 0 3px rgba($dark,.15);
$shadow-lg:                 0 10px 25px rgba($dark, 0.15);

// Base font
$font-size-base:              15px;
$menu-font:                   11px;

$font-family-base:            'Montserrat', sans-serif;
$font-family-secondary:       'Roboto', sans-serif;

//Color Picker/Switcher
$purple:                    #662e9b;
$light-green:               #67c56e;
$blue:                      #2d84fb;
$yellow:                    #f89d36;
$light-yellow:              #eaba6b;

//Loops
$colors: (
    "white": $white,
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "warning": $warning,
    "info": $info,
    "danger": $danger,
    "dark": $dark,
    "muted": $muted,
    "light": $light,
    "blue": $blue,
    "footer": $footer,
    "purple": $purple,
    "light-green": $light-green,
    "yellow": $yellow,
    "light-yellow": $light-yellow,
);

$heading-font-sizes: (
    "h1": 42px,
    "h2": 36px,
    "h3": 30px,
    "h4": 24px,
    "h5": 18px,
    "h6": 16px,
);

$display-font-sizes: (
    "display-1": 80px,
    "display-2": 72px,
    "display-3": 64px,
    "display-4": 56px,
)